body {
  margin: 0;
  overflow: hidden;
  height: 100vh;

  /* Background image */
  background: url("office.jpg") no-repeat center center fixed;
  background-size: cover;
}

#bouncing-image {
  position: absolute;

  width: 200px !important;
  height: auto !important;

  transform-origin: center;

  filter: drop-shadow(0 50px 80px rgba(0,0,0,0.75));
  border-radius: 10px;

  will-change: transform;
}

/* Mobile override */
@media (max-width: 600px) {
  #bouncing-image {
    width: 100px;
  }
}

  /* Makes it look nicer */
  filter: drop-shadow(0 10px 20px rgba(0,0,0,0.4));
  border-radius: 12px;

  will-change: transform;
}
