body {
    margin: 0;
    overflow: hidden;
    background: url('office.jpg') no-repeat center center fixed;
    background-size: 100%;
}

#bouncing-image {
    position: absolute;
    width: 300px; /* Adjust the size as needed */
    height: 300px; /* Adjust the size as needed */
    animation: rotation 6s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
